
#main-menu-container{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#game-title{
    display: block;
    font-size: 3em;
    color: blueviolet;
}

#main-menu-nav{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10%;
}

.main-menu-nav-link{
    display: inline-block;
    background-color: rgb(84, 24, 224);
    color: rgb(224, 221, 24);
    font-size: 2em;
    width: 80%;
    padding: 15px 0 15px 0;
    margin: 5px 0 5px 0;
    text-decoration: none;
}

.main-menu-nav-link:hover{
    background-color: rgb(70, 21, 184);
}

#logo{
    width: 100%;
}