
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center addBottomSpace">
        <!-- profile card  -->
        <div class="col-md-12 text-center fixed-top" id="profile-card">
            
            <div class="row mt-2">
                <div class="profile-id-section text-center">
                    <img id="rank" src="{{this.rank}}">
                </div>
                <div class="profile-id-section text-center">

                    {{user.username}} <br>
                    
                    Level {{user.experience/100}} <br>
                    High Score: {{user.highScore}} 

                </div>
            </div>

        </div>
        
        <div class="col-md-12 text-center addTopSpace">
            <img id="logo" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852751/trivia-hero/logo/TriviaLogo1.png">
        </div>
        
        <div class="col-md-12 text-center">
            <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" routerLink="/play-game">
            <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
            <div class="btnTextSm">Play</div>
        </div>
        <div class="col-md-12 text-center">
            <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" routerLink="/edit-profile">
            <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
            <div class="btnTextSm">Profile</div>
        </div>
        <div class="col-md-12 text-center">
            <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" routerLink="/leaderboard">
            <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
            <div class="btnTextSmX">Leaderboard</div>
        </div>
        <div class="col-md-12 text-center mb-5">
            <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" (click)="logout()" routerLink="/guest-menu">
            <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
            <div class="btnTextSmX">Logout</div>
        </div>
    </div>
</div>
      