<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">

    <!-- title -->

    <div class="col-md-12 text-center" id="game-title">
      {{title}}
    </div>

    <!-- statistics buttons -->

    <div class="col-md-12 text-center">
      <nav class="col-md-12 text-center">
        <button class="btn btn-primary" routerLink="/score-statistics">My Score Statistics</button><br>
        <button class="btn btn-primary" routerLink="/question-statistics">Question Statistics</button><br>
      </nav> 

    <!-- back button -->      

    <div class="col-md-12 text-center">
      <button class="btn btn-warning" routerLink="/main-menu">Back</button>
    </div>

    </div> 
  </div>
</div>
