<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">

    <!-- title -->

<div class="col-md-12 w-100">
    <pie-chart [data]="data1" [config]="config1" [elementId]="elementId"></pie-chart>
    </div>

    <!-- statistics buttons -->

    <!--<div class="col-md-12 text-center">
      <nav class="col-md-12 text-center">
        <button class="btn btn-primary" routerLink="/score-statistics">My Score Statistics</button><br>
        <button class="btn btn-primary" routerLink="/question-statistics">Question Statistics</button><br>
      </nav> 
    </div>-->

    <!-- back button -->      

    <div class="col-md-12 text-center">
      <button class="btn btn-warning" routerLink="/question-statistics">Back</button>
    </div>

     
  </div>
</div>
