<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <!-- leaderboard table  -->
      <div class="col-md-12 text-center">
        <table class="table table-bordered" id="leaderboardTable">
          <thead class="fill">
            <tr>
              <th width="40">#</th>
              <th>User</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <div id="tbodyWrapper">
            <tr *ngFor="let user of users; let i = index">
              <td width="40">{{i + 1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.highScore}}</td>
            </tr>
          </div>
          </tbody>
        </table>
      </div> 
      <!-- register nav  -->
      <div class="col-md-12 text-center">
          <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" routerLink="/main-menu">
          <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
          <div class="btnTextSm">Back</div>
      </div>
    </div>
  </div>
  