<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <!-- game logo  -->
      <div class="col-md-12 text-center" id="game-title">
        {{title}}
      </div>
      <!-- register form  -->
      <div class="col-md-12 text-center">
        <form #registerForm="ngForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <input #username='ngModel' class="form-control" type="text" name="userParam" id="user-param" placeholder="Enter Username" [(ngModel)]='registerObj.username' required/>
          </div>
          <div class="form-group">
            <input #password='ngModel' class="form-control" type="password" name="passParam" id="pass-param" placeholder="Enter Password" [(ngModel)]='registerObj.password' required/>
          </div>
          <!-- <div class="form-group">
            <input class="form-control" type="password" name="passConfirmParam" id="pass-confirm-param" placeholder="Confirm Password" required/>
          </div> -->
          <div class="form-group">
            <input #email='ngModel' class="form-control" type="email" name="emailParam" id="email-param" placeholder="Enter Email" [(ngModel)]='registerObj.email' required/>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Register">
          </div>
        </form>
      </div> 
      <!-- register nav  -->
      <div class="col-md-12 text-center">
        <button class="btn btn-warning" routerLink="/guest-menu">Back</button>
      </div>
    </div>
  </div>
  