#game-wrapper{   
    display: block;
    position: absolute;
    padding: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    /*margin: 0 auto;*/
    min-width: 360px !important;
    width: 100%;
    height: 640px !important; 
    background-color: rgb(28, 12, 71);   
    background: url('https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550881477/trivia-hero/backgrounds/TriviaHeroBg.png');
    border: 10px solid rgb(99, 63, 30);    
}