
#game-title{
    display: block;
    font-size: 3em;
    color: blueviolet;
}

#health-bar {
    padding-inline-start: 0px !important;
}

.heart{
    display: inline;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

