
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
       <!-- profile card  -->
      <div class="col-md-12 text-center" id="profile-card">
          
          <div class="row">
              <div class="col-sm-12 text-center h2">
                  Game End!<br>
              </div>
              <div class="col-sm-12 text-center h2">
                {{user.username}}<br>
              </div>
              <div class="col-sm-12 text-center">
                  You've gained {{this.score}} XP!
              </div>
          </div>
  
      </div>
          <!-- guest menu nav  -->
        <nav class="col-md-12 text-center fixed-bottom">
            <div class="col-md-12 text-center mb-5">
                <input type="image" class="btnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852545/trivia-hero/buttons/Button_Sm_Foreground_v1.png" (click)="clearGameStats()" routerLink="/main-menu">
                <img class="btnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852563/trivia-hero/buttons/Button_Sm_Background_v1.png">
                <div class="btnTextSmX">Ok!</div>
            </div>
        </nav> 
    </div>
  </div>
      