<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <!-- game logo  -->
    <div class="col-md-12 text-center" id="game-title">
      <img id="logo" src="../../../assets/img/TriviaLogo1.png">
    </div>
    <!-- login form  -->
    <div class="col-md-12 text-center">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
          <input class="form-control" type="text" name="userParam" id="user-param" placeholder="Enter Username" required/>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="passParam" id="pass-param" placeholder="Enter Password" required/>
        </div>
      </form>
    </div> 

    <div class="col-md-12 text-center" routerLink="/main-menu">
      <img class="loginBtn" src="../../../assets/img/button-md-top-1.png">
      <img class="loginBtn loginBtnBg" src="../../../assets/img/button-md-bg-1.png">
      <div class="loginBtnTxt">Login</div>
    </div>
    <div class="col-md-12 text-center" routerLink="/guest-menu">
      <img class="loginBtn" src="../../../assets/img/button-md-top-1.png">
      <img class="loginBtn loginBtnBg" src="../../../assets/img/button-md-bg-1.png">
      <div class="loginBtnTxt">Back</div>
    </div>
    <!-- login nav  -->
    
  </div>
</div>
