<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <!-- game logo  -->
    <div class="col-md-12 text-center" id="game-title">
      {{title}}
    </div>
    <!-- login form  -->
    <div class="col-md-12 text-center">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
          <input #username='ngModel' class="form-control" type="text" name="userParam" id="user-param" placeholder="Enter Username" [(ngModel)]='loginObj.username' required/>
        </div>
        <div class="form-group">
          <input #password='ngModel' class="form-control" type="text" name="passParam" id="pass-param" placeholder="Enter Password" [(ngModel)]='loginObj.password' required/>
        </div>
        <div class="form-group">
         <!-- <input class="btn btn-primary" type="button" value="Login" routerLink="/main-menu">-->
          <input class="btn btn-primary" type="submit" value="Login">
        </div>
      </form>
    </div> 
    <!-- login nav  -->
    <div class="col-md-12 text-center">
      <button class="btn btn-warning" routerLink="/guest-menu">Back</button>
    </div>
  </div>
</div>
