
<div class="container d-flex h-100">
    <div class="row justify-content-center">
        <!-- game logo  -->
        <div class="col-md-12 text-center" id="game-title">
            <img src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852744/trivia-hero/logo/TriviaLogo2.png" id="logo">
        </div>
        <!-- guest menu nav  -->
        <div class="col-md-12 mt-5">
            <div class="guestBtnFontStyle" id="guestBtnContainer" routerLink="/login">
                <img id="guestBtnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852557/trivia-hero/buttons/button-md-top-1.png">
                <img id="btnSword" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852805/trivia-hero/other/sword-1.png">
                <img id="guestBtnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852570/trivia-hero/buttons/button-md-bg-1.png">
                <div id="guestBtnText">Login</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="guestBtnFontStyle" id="guestBtnRegContainer" routerLink="/register">
                <img id="guestBtnTop" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852557/trivia-hero/buttons/button-md-top-1.png">
                <img id="guestBtnBg" src="https://res.cloudinary.com/dm1h6zjdu/image/upload/v1550852570/trivia-hero/buttons/button-md-bg-1.png">
                <div id="guestBtnText">Register</div>
            </div>
            <br>
        </div> 
    </div>
</div>
