
<div class="container d-flex h-100">
    <div class="row justify-content-center">
        <!-- game logo  -->
        <div class="col-md-12 text-center" id="game-title">
            <img src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/TriviaLogo2.png" id="logo">
        </div>
        <!-- guest menu nav  -->
        <div class="col-md-12 mt-5">
            <div class="guestBtnFontStyle" id="guestBtnContainer" routerLink="/login">
                <img id="guestBtnTop" src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/button-md-top-1.png">
                <img id="btnSword" src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/sword-1.png">
                <img id="guestBtnBg" src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/button-md-bg-1.png">
                <div id="guestBtnText">Login</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="guestBtnFontStyle" id="guestBtnRegContainer" routerLink="/register">
                <img id="guestBtnTop" src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/button-md-top-1.png">
                <img id="guestBtnBg" src="https://s3.us-east-2.amazonaws.com/trivia.reavature.com/img/button-md-bg-1.png">
                <div id="guestBtnText">Register</div>
            </div>
            <br>
        </div> 
    </div>
</div>
