<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <!-- game logo  -->
      <div class="col-md-12 text-center" id="game-title">
        {{title}}
      </div>
      <!-- register form  -->
      <div class="col-md-12 text-center">
        <form #updateForm="ngForm" method="POST">
          {{ updateForm.value | json }}
          <div class="form-group">
            <input class="form-control" type="text" name="userParam" id="user-param" value="MyUsername" required ngModel/>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="passParam" id="pass-param" value="MyPassword" required ngModel/>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="passConfirmParam" id="pass-confirm-param" value="MyPassword" required ngModel/>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" name="emailParam" id="email-param" value="MyEmail@email.com" required ngModel/>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="button" value="Update" routerLink="/main-menu">
          </div>
        </form>
      </div> 
      <!-- register nav  -->
      <div class="col-md-12 text-center">
        <button class="btn btn-warning" routerLink="/main-menu">Back</button>
      </div>
    </div>
  </div>
  